{%extends"base.html"%}
{%block content%}
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}">
</head>
 <div class="main">
    <div class="input-group mb-3">

<p>Shorten your URL here</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
   {% for message in messages %}
  <p class='message'>  {{ message }} </p> 
   {% endfor %}
{% endif %}
{% endwith %}
<div class="button group">
    <form action="#" method="post">
<input type="text" name="link" class="form-control" placeholder="https://example.com" aria-label="https://example.com" aria-describedby="button-addon2" style="width:400px; height:30px">
</div>
</div>
<p>Customize your shorten URL here</p>
<p>https://cuturl-tool.herokuapp.com/<input type="text" name="optional" class="form-control" placeholder="Optional" aria-label="Optional" aria-describedby="button-addon2" style="width:200px; height:30px">
   <p> <button class="btn btn-outline-secondary" type="submit" id="button-addon2" value="submit" style="background:#FFFFFF; color:#92B4EC">Submit</button></p>
</form> 
</div>

<div class="footer"></div>

{%endblock%}


